* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
    font-family: "Trebuchet MS", arial, sans-serif;
}
body {
    width: 90%; /* based from 1500px */
    max-width: 1800px;
    margin: 0 auto;
    background-color: #f1f7e6;
    margin-bottom: 2em;
    box-shadow: 0px 0px 20px 1px #aaa;
}


header {
  background-color: #f1f7e6;
  position: relative;
 
}

header h1{
    
    color: #1c5379;
    padding-top: 3em;
    padding-bottom: .5em;
    margin: 0;
    font-size: 1.5em;
}

header h2 {
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
    padding-bottom: .5em;
}

header img {
    float: left;
}
/*-------------------------------------------------------------
-------------------------------------------------------------nav styles */
/* mobile menu off */
#mobile_menu {
    display: none;
}

/*desktop nav menu */
#nav_menu {
    clear: both;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;


}

#nav_menu ul li {
    float: left;
    width: 20%;


}

#nav_menu ul li a {
    display: block;
    color: #f1f7e6;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #1c5379;
    opacity: .8;

}

#nav_menu a:hover {
    opacity: 1;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 20%;
}

#nav_menu ul ul li {
    float: none;
    width: 100%;

}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
    
}

#nav_menu ul li:hover > ul {
    display: block;
}

.current {
    background-color: #0078a4 !important;
}
/*--------------------------------------------------------------------------
--------------------------------------------------------end of nav styles */
main{
    padding: 1em;
}

aside img{
    border: 3px solid #e5901a;
    box-shadow: 0px 0px 8px 2px #aaaaaa;
}
aside {
    float: left;
    width: 60%; /* based from 900px */
    margin-left: 3.3%; /* based from 50px */
    column-count: 4;
    -webkit-column-count: 4;  /* sets columns of thumbnails to 4 at max-width */
    -moz-column-count: 4;

    margin-top: 4em;
    
}


section {
    width: 33%; /* based from 500px */
    min-width: 500px; 
    margin-right: 3.3%; /* based from 50px */
    height: 600px;  /*used pixels based from photo resolution */
    float: right;
    margin: 0 auto;

    margin-top: 4em;
}

section img {
    margin: 0 auto;
}

iframe {
    width: 100%; /* based from 500px */
    height: 600px;


}



footer {
   clear: both;
   background-color: #1c5379;
    font-size: .7em;
    color: #f1f7e6;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: 99;
}

footer p {
    text-align: center;
    
}

/*-----------------------------------------responsive design styles */




@media only screen and (max-width: 1650px) {  /* size that iframe img gets cut */

/* changed widths to keep gallery img at photo resolution, since its the main feature
    -the photos are limited to 500px wide so adjusting page around that width */
    section {
        width: 50%; 
    }

    aside {
        width: 43%;

        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }

}

@media only screen and (max-width: 1350px) {  /* size that iframe img starts to get cut*/

    section {
        width: 50%;
    }

    aside {
        width: 43%;

        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }

}

@media only screen and (max-width: 1200px) {  /* size that iframe img gets cut */

    aside img {
        width: 70%;
        min-width: 100px;
    }

    aside {
        width: 35%;
    }

}


@media only screen and (max-width: 950px) {  /* entering tablet size, enable mobile menu 
-------------------------------------------------thumbnails moved below*/
    #nav_menu{
        display: none;
    }

    #mobile_menu {
        display: block;
		clear: both
    }

    .slicknav_menu {
        background-color: #1c5379 !important;
    }

    body {
        width: 100%;
    }
    
    section {
        float: none;

    }
    aside {
        float: none;
        width: 100%;

        column-count: 5;
        -webkit-column-count: 5;
        -moz-column-count: 5;
    }
    
/*header changes
---------------------------*/

	header img {
		width: 30%;
		min-width: 150px;
	}

	header h1 {
		font-size: 1.6em;
		padding-top: .5em;
	}

	header h2 {
		font-size: 1.5em;
	}
	
}
@media only screen and (max-width: 630px) {  

    aside {
        column-count: 4;
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
    
}



@media only screen and (max-width: 550px) {  

    aside {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }

    iframe { /*---------------------------shrinks iframe size */
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 125 0;  /* 125 is center of 135px iframe */
        -o-transform: scale(0.75);
        -o-transform-origin: 125 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 125 0;

        
    }
    
    section {
        height: 500px; /*--------------since image in iframe changes resolution, manually
        -------------------------------entered pixel heights*/
        margin: 0 auto;
    }
	
	/*header changes---------
--------------------------------*/
	header h1 {
		font-size: 1em;
		padding-top: .5em;
	}

	header h2 {
		font-size: 1em;
	}
}

@media only screen and (max-width: 470px) {
	iframe {
		-ms-zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
	
	}
	
	section {
		height: 300px;
	}

	aside img { /* thumbnails smallest */
		width: 35%;
		min-width: 65px;
	}
		/*header changes---------
--------------------------------*/
	header h1 {
		font-size: .8em;
		padding-top: .5em;
	}

	header h2 {
		font-size: .8em;
	}
}
