* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
    font-family: "Trebuchet MS", arial, sans-serif;
}
body {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #f1f7e6;
    margin-bottom: 2em;
    box-shadow: 0px 0px 20px 1px #aaaaaa;
}


header {
  background-color: #f1f7e6;
  position: relative;
 
}

header h1{
    
    color: #1c5379;
    padding-top: 3em;
    padding-bottom: .5em;
    font-size: 1.5em;
}

header h2 {
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}

header img {
    float: left;
}

#mobileimg {
    display: none; /* hides image for mobile until screen resolution is small enough */
}

/*--------------------------------navigation styles
---------------------------------------------------*/
/* mobile menu off */
#mobile_menu {
    display: none;
}

/*desktop nav menu */

#nav_menu {
    clear: both;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;


}

#nav_menu ul li {
    float: left;
    width: 20%;


}

#nav_menu ul li a {
    display: block;
    color: #f1f7e6;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #1c5379;
    opacity: .8;

}

#nav_menu a:hover {
    opacity: 1;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 20%;
}

#nav_menu ul ul li {
    float: none;
    width: 100%;

}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
    
}

#nav_menu ul li:hover > ul {
    display: block;
}

.current {
    background-color: #0078a4 !important;
}
/*-------------------------------------------end of navigation styles
---------------------------------------------------------------------*/

aside { /*-------------------------------------aside styles
    -------------------------contains welcome and iframe selectors--*/
    float: left;
    width: 25%;
    min-width: 200px;
    margin: 5%;
}

#welcome {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: #f1f7e6;
    color: #1c5379;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;

}

aside h3 {
    padding-bottom: 1em;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

aside ul a {
    width: 60%;
    max-width: 150px;
    display: block;
    color: #f1f7e6;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #1c5379;
    opacity: .8;
    margin: 0 auto;
}

aside ul a:hover {
    opacity: 1;
}
/*-------------------------------end aside styles
--------------------------------section styles (iframe)
----iframe is difficult to style, put inside section to try to make it managable*/
section {
    float: left;
    width: 500px;
    height: 650px;
    padding-bottom: 50px;
}
iframe {
    margin-top: 5%;
    width: 500px;

}
/*------------------------------------end aside style
--------------------------------------article style (contains contact #info and news) */
article {
    float: left;
    width: 20%;
    min-width: 200px;
    padding: 2em;
    color: #1c5379;

}

#info {
    text-align: center;
    list-style: none;
    padding: 2em;
}

p a:hover {
    color: #e5901a;
}
p a {
    text-decoration: none;
    color: #0078a4;
}
/*------------------------------------end article styles */

footer {
    clear: both;
    background-color: #1c5379;
    font-size: .7em;
    color: #f1f7e6;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    
    
}



footer p {
    text-align: center;

    

}

/*-------------------------------------------------start of responsives styles */
@media only screen and (max-width: 1405px) {
	section {
		float: right;
        margin: 0 auto;
		}
}

@media only screen and (max-width: 880px) {
	#mobileimg {
        display: block;
        width: 50%;
        padding: 1em;
        min-width: 230px;
        margin: 0 auto;
    }
	

    aside ul {
        display: none; /* eliminated the preview to add to responsive usability */
    }

    section {
        display: none;
    }
    aside {
        width: 35%;

    }
    article {
        width: 30%;
        margin: 5%;
    }


	
	/*header changes
---------------------------*/

	header img {
		width: 30%;
		min-width: 150px;
	}

	header h1 {
		font-size: 1.4em;
		padding-top: .5em;
	}

	header h2 {
		font-size: 1.3em;
	}
	
	
}

@media only screen and (max-width: 769px) { /* tablet size, enable mobile menu */
    #nav_menu{
        display: none;
    }

    #mobile_menu {
        display: block;
        clear: both
    }

    .slicknav_menu {
        background-color: #1c5379 !important;
    }


}

@media only screen and (max-width: 670px) {
    aside{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    article {
        float: none;
        width: 80%;
        margin: 0;
        padding: 1em;
    }
}

@media only screen and (max-width: 650px) {
	

    /*header changes---------
--------------------------------*/
	header h1 {
		font-size: 1em;
		padding-top: .5em;
	}

	header h2 {
		font-size: 1em;
	}
}
@media only screen and (max-width: 590px) {
    
}
@media only screen and (max-width: 470px) { /*  phone size*/
    header h1 {
        font-size: .8em;
        padding-top: .5em;
    }

    header h2 {
        font-size: .8em;
    }

}